h1, h2 {
  font-family: "Concert One", cursive;
  text-transform: uppercase;
  color: #FFB863;
  text-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.85); }

a {
  color: #5A8FA6; }
  a:hover {
    color: #FFB863; }

body {
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: white; }

.bounce {
  animation: bounce 2s ease infinite; }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-30px); }
  60% {
    transform: translateY(-15px); } }

.gradient {
  background: linear-gradient(0deg, #2D2C44, #1B1A28);
  background-size: 400% 400%;
  -webkit-animation: gradient 11s ease infinite;
  -moz-animation: gradient 11s ease infinite;
  animation: gradient 11s ease infinite; }

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0; }

html {
  scroll-snap-type: y mandatory; }

body {
  padding: 0;
  margin: 0;
  height: 100vh; }

.icon-button {
  position: relative;
  padding: 1rem;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border-color: transparent;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  -webkit-box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.8);
  box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.8); }
  @media (min-width: 768px) {
    .icon-button {
      width: 3rem;
      height: 3rem; } }
  .icon-button > * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.card {
  display: flex;
  flex-direction: column;
  margin-right: 0.5rem;
  max-width: 450px;
  border-radius: 1rem;
  color: black;
  background-color: white;
  overflow: hidden;
  -webkit-box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.8);
  box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.8); }
  @media (min-width: 768px) {
    .card {
      margin-right: 1rem; } }
  @media (min-width: 1200px) {
    .card {
      margin-right: 2rem; } }
  .card > * {
    padding: 0 1rem; }

.card__image {
  padding: 0;
  width: 100%;
  height: 30vh;
  object-fit: cover; }

.card__header {
  padding-bottom: 0.5rem;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1); }

.card__title {
  margin: 0;
  font-size: clamp(2rem, 3vw, 3rem);
  color: #2D2C44; }

.card__title--age {
  font-weight: normal; }

.card__summary {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.card__summary--item {
  display: flex;
  align-items: center; }
  .card__summary--item .material-icons {
    margin-right: 0.5rem;
    color: #2D2C44; }

.card__main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem; }

.card__main-content--blurb {
  flex: 1; }

.card__main-content--last-seen {
  font-style: italic; }

.card__footer {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  width: 60%; }

.card__button--dislike {
  background-color: #C86C6D; }
  .card__button--dislike:hover {
    background-color: #ba4748; }

.card__button--photos {
  background-color: #577C70; }
  .card__button--photos:hover {
    background-color: #425e55; }

.card__button--like {
  background-color: #5A8FA6; }
  .card__button--like:hover {
    background-color: #487385; }

footer {
  float: right;
  padding: 0 1rem 1rem 0; }
  footer p {
    margin: 0;
    text-transform: lowercase;
    text-align: right; }

img {
  color: transparent; }

.image-placeholder {
  height: 100%;
  width: 100%;
  background-color: gray;
  background-image: url("../assets/astronaut-planet.svg");
  background-repeat: no-repeat;
  background-position: bottom; }

.loading:not(.loading) {
  display: none; }

.loading::after {
  content: " .";
  font-size: 3vw;
  text-align: center;
  animation: dots 2s steps(5, end) infinite; }

@keyframes dots {
  0%,
  20% {
    color: #2D2C44;
    text-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.85); }
  40% {
    color: white;
    text-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.85); }
  60% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 rgba(0, 0, 0, 0); }
  80%,
  100% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 white; } }

section {
  margin-bottom: 2rem;
  padding: 0 1rem; }
  @media (min-width: 768px) {
    section {
      padding: 0 1.5rem; } }
  @media (min-width: 1200px) {
    section {
      padding: 0 2rem; } }

.section__header {
  margin-bottom: 1rem; }
  .section__header h2 {
    margin: 0;
    font-size: clamp(2.5rem, 2vw, 5rem); }
  .section__header p {
    margin-top: 0.5rem;
    max-width: 800px;
    font-size: clamp(1rem, 1.5vw, 1.25rem); }

.tabs {
  display: flex;
  margin-bottom: 2rem; }

.tabs__tab {
  position: relative;
  margin-right: 0.5rem;
  font-size: clamp(1rem, 2vw, 1.5rem);
  cursor: pointer; }
  @media (min-width: 768px) {
    .tabs__tab {
      margin-right: 2rem; } }
  .tabs__tab:hover {
    color: #FFB863; }
  .tabs__tab.active {
    color: #C86C6D; }
  .tabs__tab:after {
    content: '';
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    height: 5px;
    width: 0;
    border-radius: 1rem;
    transition: width 0.5s ease-in-out; }
  .tabs__tab.active:after {
    width: 100%;
    background-color: #C86C6D; }

.credits {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .credits header {
    font-size: clamp(2rem, 2vw, 3rem);
    margin-top: 5rem; }
    .credits header p {
      font-size: 1rem; }
  .credits main {
    flex: 1; }
  .credits .go-back {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    margin-top: 1rem; }
    .credits .go-back:hover {
      color: #FFB863; }
    .credits .go-back .material-icons, .credits .go-back .text {
      margin-right: 0.5rem;
      font-size: 1.5rem; }

.splash {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh; }

.splash__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.splash__intro-text {
  text-align: center;
  font-size: clamp(1rem, 4vw, 2rem); }

.site-title {
  margin: 1rem 0;
  text-align: center;
  font-size: clamp(4.5rem, 10vw, 10rem); }

.splash__image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: translate(-25%, 15%) rotate(35deg);
  z-index: -1; }
  @media (min-width: 768px) {
    .splash__image {
      width: 75%; } }
  @media (min-width: 1200px) {
    .splash__image {
      width: 25%; } }

.splash__scroll-down {
  padding-bottom: 1rem;
  font-size: clamp(1rem, 5vw, 3rem);
  color: white;
  text-decoration: none;
  text-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.85); }

.rovers {
  display: flex;
  flex-direction: column;
  flex-direction: flex-end;
  overflow: hidden; }

.rovers__content {
  display: flex;
  flex-direction: column; }

.rovers__content--carousel {
  padding-bottom: 1rem;
  height: 500px; }
  @media (min-width: 768px) {
    .rovers__content--carousel {
      height: 650px; } }

.photos {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  height: 100vh;
  z-index: 99; }

.photos .section__header {
  z-index: 99; }
  @media (min-width: 768px) {
    .photos .section__header {
      text-align: center; } }

.photos__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(14, 14, 22, 0.8); }

.photos__content--carousel {
  padding: 0 1rem;
  width: auto; }

.photo-card {
  position: relative;
  max-width: 600px;
  min-height: 400px;
  max-height: 500px; }
  .photo-card:not(:last-child) {
    margin-right: 30px; }
  @media (min-width: 768px) {
    .photo-card {
      padding: 0 3rem; } }
  .photo-card img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.photo-card__text {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 99; }
  .photo-card__text p {
    margin: 0 0.5rem 2rem 0;
    padding: 0.5rem;
    line-height: 1;
    background-color: #2D2C44;
    text-align: right;
    -webkit-box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.8);
    box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.8); }
    .photo-card__text p.camera {
      margin-bottom: 0.75rem;
      font-size: clamp(1.25rem, 3vw, 1.5rem); }
