h1, h2 {
    font-family: $type-heading;
    text-transform: uppercase;
    color: $secondary;
    @include text-shadow;
}

a {
    color: $accent-blue;

    &:hover {
        color: $secondary;
    }
}

body {
    font-family: $type-body;
    color: white;
}