// Colours
$primary: #2D2C44;
$primary-gradient: #1B1A28;
$secondary: #FFB863;
$accent-rose: #C2A1A2;
$accent-rose-dark: #C86C6D;
$accent-green: #577C70;
$accent-blue: #5A8FA6;

// Types
$type-heading: 'Concert One', cursive;
$type-body: 'M PLUS Rounded 1c', sans-serif;

// Breakpoints
$breakpoint-desktop: 1200px;
$breakpoint-tablet: 768px;