.rovers {
    display: flex;
    flex-direction: column;
    flex-direction: flex-end;
    overflow: hidden;
}

.rovers__content {
    display: flex;
    flex-direction: column;
}

.rovers__content--carousel {
    padding-bottom: 1rem;
    height: 500px;

    @include tablet {
        height: 650px;
    }
}