.rovers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.rovers__content {
    display: flex;
    flex-direction: column;
}

.rovers__content--carousel {
    flex: 1;
}