section {
    padding: 0 2rem;
    min-height: 100vh;
}

.section__header {
    margin-bottom: 1rem;

    h2 {
        margin: 0;
        font-size: clamp(2.5rem, 2vw, 5rem);
    }

    p {
        margin-top: 0.5rem;
        max-width: 800px;
        font-size: clamp(1rem, 1.5vw, 1.25rem);
    }
}